Chatbot-Nodered.txt
[{"id":"dc7772dc.987b1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b65e2187.a77c9","type":"watson-conversation-v1","z":"dc7772dc.987b1","name":"Node-01","workspaceid":"336c8ad5-8fc7-417d-8557-2b56433f3979","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com","timeout":"","optout-learning":false,"x":380,"y":80,"wires":[["5c328b48.b652a4"]]},{"id":"3477c3af.7cdb9c","type":"inject","z":"dc7772dc.987b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":160,"y":80,"wires":[["b65e2187.a77c9"]]},{"id":"682c6b15.58dcf4","type":"debug","z":"dc7772dc.987b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":100,"wires":[]},{"id":"5c328b48.b652a4","type":"function","z":"dc7772dc.987b1","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":145,"y":260,"wires":[["682c6b15.58dcf4","a7031467.7eab58"]],"l":false},{"id":"25268461.fbbfec","type":"ui_form","z":"dc7772dc.987b1","name":"","label":"","group":"397e5c8f.774e74","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":59.0000057220459,"y":397.0000047683716,"wires":[["93b4b93.a8faa48"]],"l":false},{"id":"93b4b93.a8faa48","type":"function","z":"dc7772dc.987b1","name":"Input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":174,"y":399,"wires":[["b65e2187.a77c9","54b412b3.0c70ec"]],"l":false},{"id":"54b412b3.0c70ec","type":"ui_text","z":"dc7772dc.987b1","group":"397e5c8f.774e74","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":341,"wires":[],"l":false},{"id":"a7031467.7eab58","type":"ui_text","z":"dc7772dc.987b1","group":"397e5c8f.774e74","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":363.0000047683716,"y":400.0000057220459,"wires":[],"l":false},{"id":"397e5c8f.774e74","type":"ui_group","z":"","name":"Shop for Essentials","tab":"10204e07.cd9aa2","order":1,"disp":true,"width":"6","collapse":false},{"id":"10204e07.cd9aa2","type":"ui_tab","z":"","name":"Virtual Assistant","icon":"dashboard","disabled":false,"hidden":false}]